#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 440px;
}

.divContainer > div {
    border: 4px solid black;
    padding: 9px;
}



.secondContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 440px;
}

.secondContainer > div {
    border: 4px solid black;
    padding: 9px;
}
